UE-Project/
Capture-Process/DepthPerspectiveImage
Capture-Process/DepthPlanarImage
Capture-Process/DepthVisImage
Capture-Process/InfraredImage
Capture-Process/SceneImage
Capture-Process/SegmentationImage
Capture-Process/SurfaceNormalsImage